:root{
  --color-bg: black;
  --color-fg: white;
}

.bg{
  background: var(--color-bg);
}

h1, h2, h3, h4{
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  color: var(--color-fg);
}

.icon{
  width: 30px;
  fill: var(--color-fg);
  transition: opacity 0.2s;
}

.icon:hover{
  opacity: 50%;
}

.cursor-pointer{
  cursor: pointer;
}

.text-select-none{
  user-select: none;
}

button{
  background: none;
  border: 0;
}

.pointer-events-none{
  pointer-events: none;
}

.pointer-events-all{
  pointer-events: all;
}