*{
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

body{
	/*background-image: url("../media/bgloop.png");
	background-repeat: repeat-x;
	background-position: bottom left;
	background-attachment: fixed;
	background-color:#666 ;*/
	background-color:#3b7bb3 ;
	color: #555;
	height: 100%;
}

hr{
	width:100%;
	margin:5px 0;
	height: 1px;
	border: 0;
	color: #555;
	background-color: #555;
}

a{
	text-decoration: none;
	color: #5090E8;
}

a:hover{
	color: #5090E8;
}

#container{
	max-width: 980px;
	background-color: #181818;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	min-height:100%;
	opacity: 0.99;
}

#header{
	padding: 20px 0;	
}

#header #title{
	color: #FFF;
}

#portrait{
	margin:0 12px;
	float:left;
}

#portrait img{
	border-radius:40px;
}

#main-nav{
	margin-top: 10px;
	text-align: center;
}

#main-nav li{
	list-style: none;
	display: inline;
	padding-left: 10px;
	font-size: 20px;
}

#media{
	width:145px;
	margin:0 auto;
	padding-top: 20px;
}

#media ul{

}

#media li{
	display: inline;
	opacity: 0.8;
}

#media img{
	width:32px;
}

#media li:hover{
	opacity: 1.0;
}

#working-on{
	margin-top:20px;
	text-align:center;
}

#content{
	height:100%;

}
#section-about{
	margin: 0 auto;
	width:90%;
	color:#999;
	background-color: #1E1E1E;
	border-radius: 5px;
	padding: 10px 10px 40px 10px;
}

#section-about h2{
	color:#FFF;
	margin-bottom: 20px;
	text-align: center;
}

#section-about h3{
	margin: 10px 0;
}

#section-projects{
	margin: 0 auto;
	width:90%;
	color:#FFF;
	background-color: #1E1E1E;
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
	text-align: center;
}

#projects-list {
	text-align: center;
	width:100%;
	margin: 0 auto;
}

#projects-list h2{
	margin-bottom: 20px;
}

div.project {
	width:256px;
	vertical-align:top;
	display: inline-block;
	margin: 40px 20px 40px 0;
}

.project-img-container{
	border-radius: 2px;
	border:1px solid #fff;
	background-color: #fff;
	width: 256px;
	height: 256px;
}

.project-img{
	width: 256px;
	height: 256px;
}

.project-title,.project-description{
	text-align: left;
}

.project-title{
	color: #5090E8;
	margin-top: 5px;
	font-size: 20px;
}

.project-description{
	color: #555;
}

.project-tags li{
	display: inline-block;
	margin: 0.5em 0.1em;
	padding: 0.3em 0.5em;
	color: #fff;
	/*background: #999;*/
	font-size: 80%;
}

.post{
	width:80%;
	margin: 20px auto;
	color:#FFF;
	background-color: #1E1E1E;
	border-radius: 5px;
	padding: 10px;
}

.post-title{
	margin-bottom: 10px;	
}

.post-date{
	font-style: italic;
	font-size: 14px;
	margin-bottom: 10px;
}

.post-content{
	margin-bottom: 10px;
}

.post-tags li{
	display: inline-block;
	margin: 0.5em 0.1em;
	padding: 0.3em 0.5em;
	color: #fff;
	/*background: #999;*/
	font-size: 80%;
}

#footer{
	width:100%;
	text-align: center;
	padding:15px 0;
}

.green {
	background: #5aba59;
}

.blue {	
	background: #4d85d1;
}

.purple {
    background: #8156a7;
}

.red {				    
	background-color: #df2d4f;
}

.gray {
    background: #687F7F;
}

@media (max-width: 450px) {
	#portrait{
		width:82px;
		margin:0 auto;
		float:none;
	}

   	#title{
    	margin-top: 10px;
    	text-align: center;
  	}

  	#tagline{
    	text-align: center;
  	}
}